* {
    margin: 1;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: inherit;
    color: red;
}

h1 span {
    color: white;
    font-size: 40px;
}

nav links {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    font-size: 20px;
    flex-wrap: wrap;
}

.banner-image {
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1357127110/vector/modern-red-depth-shadow-blur-gradient-background.jpg?s=612x612&w=0&k=20&c=RIpbiwHvDnsxqfvnHOyslDs_Xg1Ioq5Y-WmoTwahUHE=);
    height: 200px;
    background-position: center;
    display: inline-block;
    vertical-align: bottom;
}

.bottom-right {
    position: absolute;
    top: 200px;
    font-size: 30px;
    right: 0%;
    margin: 50px;
}

nav a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

nav a:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

body {
    background: #000000;
    color: #fff;
}

main section {
    display: flex;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

main aside h2 {
    text-align: right;
 
}

#about-me aside {
    width: 25%;
}

p {
    margin: 00px 50px 20px 30px;
    text-wrap: wrap;
    word-break: normal;
    white-space: normal;
    text-align: left;
    font-size: 20px;
}

.divider {
    width: 5px;
    margin: 1% 6px;
    background: red;
}

#work aside {
    width: 25%;
}

#contact-me section {
    font-size: 30px;
    text-decoration: none;
    transition: text-decoration 0.2s;
}

#contact-me section:hover::after {
    text-decoration: underline;
}

#contact-me aside {
    width: 25%;
}

#profile-pic {
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 70px;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact-links {
    display: flex;
    color: #ff0000;
    font-weight: bold;
    flex-direction:row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
  }

  .work-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  
    .boxes {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      min-height: 200px;
      margin-left: 10px;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      gap: 40px;
    }
  
    .boxes::after:hover:after {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  
  .text-in-boxes {
    background-color: #000000;
    background-clip: content-box;
    text-align: left;
    align-self: self-end;
    margin: 0;
    font-size: 250%;
    padding-top: 10px;
    color: #ff0000;
    pointer-events: none;
  }
  
  .nonprofit {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 300px;
    font-weight: 700;
    font-size: x-large;
    color: #ffffff;
    border-radius: 40px;
    background-image: url(https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    transition: filter 0.3s;
  }
  
  .nonprofit:hover {
    filter: brightness(1.5);
  }
  
  .gaming {
    display: flex;
    height: 300px;
    width: 50%;
    font-weight: 700;
    font-size: x-large;
    vertical-align: bottom;
    color: #ffffff;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/159393/gamepad-video-game-controller-game-controller-controller-159393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: top;
    transition: filter 0.3s;
  }
  
  .gaming:hover {
    filter: brightness(1.5);
  }
  
  .calculator {
    display: flex;
    height: 300px;
    width: 50%;
    font-weight: 700;
    font-size: x-large;
    vertical-align: bottom;
    color: #ffffff;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/6927360/pexels-photo-6927360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    transition: filter 0.3s;
  }
  
  .calculator:hover {
    filter: brightness(1.5);
  }
  
  .puzzles {
    display: flex;
    height: 300px;
    width: 50%;
    font-weight: 700;
    font-size: x-large;
    vertical-align: bottom;
    color: #ffffff;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/5505122/pexels-photo-5505122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    transition: filter 0.3s;
  }
  
  .puzzles:hover {
    filter: brightness(1.5);
  }
  
  .data {
    display: flex;
    height: 300px;
    width: 50%;
    font-weight: 700;
    font-size: x-large;
    vertical-align: bottom;
    color: #ffffff;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/186461/pexels-photo-186461.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: left;
    transition: filter 0.3s;
  }
  
  .data:hover {
    filter: brightness(1.5);
  }